HOMEPAGE_VAR_PLEX_KEY=your_plex_key_here
HOMEPAGE_VAR_QBT_PASSWORD=your_qbittorrent_password
# or adler.stanley.arpa
HOMEPAGE_VAR_ADDRESS=192.168.1.x
HOMEPAGE_VAR_JELLYFIN_API_KEY=your_jellyfin_api_key
